@import url('https://fonts.googleapis.com/css?family=Mali');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

*{
    marging: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Mali', cursive;
}

header{
    width: 100%;
    height: none;
    background: #333;
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    
    width: 100%;
    margin: auto;
}

h1{
    float: left;
        
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy{
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: chocolate;
    text-decoration: none;
}

@media (min-width:1024px){
    .contenedor {
        width: 1000px;
    }
}

@media (min-width:768px
 

) {
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
}

@media (min-width:1024) {
    .contenedor {
        width: 1000px;
    }
}